 @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Serif+Pro:ital@1&display=swap');

 *{
   margin: 0;
   padding: 0;
}

.sidebar{
    background-color:rgb(175, 173, 173);
    width: 434 px;
    font-family: 'Source Serif Pro', serif;
    height: 100vh;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 22px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black ;
}

.main{
    /*background-color: yellow;*/
    width: 90vw;
    height:100vh;
}

.container{
    display: flex;   
}

.infocontainer{
    /*background-color:fuchsia;*/
    height: 69vh;
    width: 80vw;
    margin: 110px auto;   
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.Hello{
    font-size: 30px;
}

.Name{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
}

.About{
    font-size: 30px;
}

.moreabout{
    font-size: 19px;
    margin-top: 23px;
    font-family: 'Source Serif Pro', serif;
}

.buttons{
    margin-top: 34px;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
 transition: .4s ease-in;
} 

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    margin: 12px 0;
    cursor: pointer;
}

.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img {
    height: 69vh;
}

.contactform {
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Source Serif Pro', serif;
    font-style: bold;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check  input{
    width: 24px;
    margin: 3px 0;
}

.blogItem{
    margin: 20px;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-family: 'Source Serif Pro', serif;   
    margin: 23px;
}

p{
    font-family: 'Source Code Pro', monospace;   
}

.intro h2{
    font-family: 'Source Serif Pro', serif;
    margin: 12px; 
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px; 
}

.skillContainer{
    padding: 12px;
}

.skillItems{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}    
